# Serve uploaded media but NEVER execute code from this directory.
Options -Indexes -ExecCGI
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8 .pht .cgi .pl
AddType text/plain .php .phtml .php3 .php5 .php7 .php8 .pht .cgi .pl

<FilesMatch "\.(php|phtml|php3|php4|php5|php7|php8|pht|cgi|pl|sh|asp|aspx|jsp)$">
  Require all denied
</FilesMatch>

<IfModule mod_php.c>
  php_flag engine off
</IfModule>
